<%
	titles = {
	:index => "一覧表示",
	:group => "新しいグループを登録",
	:category => "新しいカテゴリを登録",
	:link => "新しいリンク先を登録",
	:refine => "指定したカテゴリのみ表示",
	:search => "検索",
	:help => "ヘルプ",
	}
%><%= super(pg, titles) %>
