<%= header(pg) %>
<%= navi(pg) %>
<%= link_navi(pg) %>

<div class="links">
<h1><%=h pg.title %></h1>
<% pg.descriptions.each do |desc| %>
<p><%=h desc %></p>
<% end %>
<% link_pages = pg.link_pages.sort {|x, y| x.title <=> y.title} %>
<h2>リンク先の更新順一覧</h2>
<%= list_recent_link(pg, link_pages) %>
<h2>リンク一覧</h2>
<%= list_link(pg, link_pages) %>
</div>

<%= footer(pg) %>
