<%= header(pg) %>

<%= navi(pg) %>

<%
	topic = ::RWiki::RSS::Topic
	topic.clear
	
	prop = pg.prop(:rss)
	topic.expire = prop[:expire] || ::RWiki::RSS::EXPIRE
	topic.pages = prop[:pages] || ::RWiki::RSS::DISPLAY_PAGES
	topic.characters = prop[:characters] || ::RWiki::RSS::DISPLAY_CHARACTERS
	topic.use_thread = prop[:use_thread]
	topic.display = prop[:display]

	prop[:uri].each do |uri, name|
	  topic.add_topic(uri, @@charset, name)
	end

%>

<%= body(pg) %>

<%= footer(pg) %>
